<p id="notice"><%= notice %></p>
<h1> Artist Show</h1>
<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>
<h3>Songs:</h3>

  <ul>
    <% @songs.each do |song| %>
      <li><%= song.title %></li>
       
    <% end %>
    </ul>

<%= link_to 'Create new Song for this Artist', new_song_path(artist_name: @artist.name) %>

<br/>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
